html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    background-color:bisque;
}
.box{
    padding: 0;
    overflow: hidden;
}
.test{
    padding: 0;
    text-decoration: none;
    text-align: left;
}

h1 {
    color: black;
}
